# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

COOKIE_SECRET='YouWillNeverGuessThisSecretKey32'
COOKIE_DOMAIN='http://www.<---X--->.com'

# API General
COMPONENT_BASE_URL='http://<---X--->.com'
API_BASE_URL='http://<---X--->.com'
REMOTE_API_BASE_URL='http://<---X--->.com'

# Crypto message exchange details
ENCRYPT_SECRET='This is a top secret message!!'
ENCRYPT_PASSWORD='YouWillNeverGuessThisSecretPassword'
ENCRYPT_NONCE='nonsensical'

# Component settings
USE_COMPONENT_EVENT_QUEUE='False'
