streamlit
numpy
pandas
openpyxl
django-environ
dataclasses
nltk
newspaper3k
beautifulsoup4
pyjwt
environ
spacy==2.3
markdown
matplotlib
plotly
airtable-python-wrapper
python-dotenv
htmldate
datefinder
