# https://github.com/auth0-samples/auth0-python-api-samples

# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# https://manage.auth0.com/dashboard

##### Auth0 App Settings (same as used in frontend) #####
AUTH0_DOMAIN='https://YOUR_AUTH0_DOMAIN' (something like 'https://myorg.auth0.com')
API_AUDIENCE='YOUR_AUTH0_API_IDENTIFIER' (something like 'http://myorg.streamlit.app/api')
