# https://github.com/auth0-samples/auth0-python-api-samples

# PUT VARS HERE WHICH SHOULD NOT BE IN MACHINE ENV OR SETTINGS

# https://manage.auth0.com/dashboard

##### CloudOptiStreamlitApp #####
AUTH0_DOMAIN = '<--X-->.auth0.com'
API_AUDIENCE = 'http://<--X-->.<--Y-->.app/api'
